h1{
    background-color: rgb(245, 245, 234);;
    text-align: center;
    padding: 20px;   
}
h2{
    text-align: center;
}

div#task-creation{
    float: left;
    width: 30%;
    margin: 3%;
    padding: 3%;
    border: 2px solid #f2f0e9;
    background-color: rgb(245, 245, 234);
}

div#task-list{
    float: left;
    width: 45%;
    margin: 3%;
    padding: 3%;
    border: 2px solid #f2f0e9;
    background-color:rgb(245, 245, 234);
}

.todo{
    margin: 1em;
    padding: 0.5em;
    background-color: lightblue;
    border-radius: 4px;
}

.todo h3{
    margin: 0px;
}

.todo p{
    margin: 0px;
    font-size: small;
}

.completed{
    opacity: 50%;
    background-color: lightgreen;
}

input[type=text]{
    padding: 5px 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 4px;

    background-color: rgb(240, 240, 240);
    margin: 2%;
}

input[type=text]:focus{
    background-color: rgb(221, 229, 241);
}

input[type=checkbox]{
    margin: 2%;
}

input[type=button]{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfceb
}